body { 
	font-family: sans-serif; 
	background: #FFF; 
}

h1 { 
	border-bottom: 2px solid #A1A1A1; 
}


.page { 
	margin: 2em auto; 
	width: 40em; 
	border: 2px solid #000;
    padding: 0.8em; 
    background: #f3f3f3; 
}

footer {
  margin: 1em auto; 
  width: 40em; 
  padding: 0.8em; 
}